@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Karla&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.font-bold-titles{
    font-family: 'DM Sans', sans-serif;
}

.font-body{
    font-family: 'Karla', sans-serif;
    font-size: 18px;
}
.font-footer{
    font-family: 'Karla', sans-serif;
    font-size: 13px;
}

.font-name{
    font-family: 'Bebas Neue', sans-serif;
}

